<div class="jumbotron center">
  <h1>Happy 1 1/2 anniversary!!!</h1>
  <p>Mi amor! Te quiero muchisimo , ojala te guste este mini-regalito... Picale al botón de abajo para continuar</p>
  <%= link_to "Click here!" , posts_path , class:"btn btn-default center" %>
</div>
