<div class="jumbotron center">
  <p>Babe! Un poquito tarde , pero te escribo esta carta electronica por medio de esto que te hice y te cree porque yo se como te gusta subir fotos
    a todos lados! Ojala te haya gustado y sabes que acepto cualquier critica constructiva y/o sugerencia. Pues bueno , no se por donde empezar.. un año y medio!
    en verdad estoy impactado con todo lo que hemos pasado juntos! Muchas experiencias inolvidables y lo digo por que cualquier momento contigo es una experiencia
    inolvidable no hay otra palabra más. En verdad no te puedo explicar que estoy 100% seguro de que no habra un día que no disfrute estar contigo! Te amo y en verdad
    te agradezco por todo lo que me has enseñado. Gracias a ello he crecido y siempre seguire todo todo lo que me has enseñado siempre con la meta fija para ser una mejor
    persona. Estas cañon como persona , en verdad no conozco a alguien que vea tanto por los demás como tú , eres demasiado risueña que me encanta!! Otra cosa que me gusta a mi tuyo
      que eres sincera , cuando te pasa algo ( y yo por terco te sigo preguntando) siempre dices la verdad y siempre firme. Otra cosa que mencionare es que me encanta tu sonrisa,
      tu sonrisa ME MATA... cuando este enojado por algo solo sonrieme y se me va a olvidar todo lo que había pasado... y obviamente con la sonrisa tambien viene tu hermosura , no se como andas con un ogro ( yo) y tu una super princesa
      te lo prometo que parecemos shrek y fiona ( antes de convertirse). No estoy bromeando que te puedo decir que eres lo mejor que me ha pasado en mi vida. Estoy en deuda total con todas las personas y Diosito por haberme dejado conocerte. Mi amor eres mi
    angelito del cielo , mi felicidad , mi novia , mi mejor amiga ... en fin eres TODO. Te AMO muchisimo y ojala sean muchos muchos meses más los que podamos celebrar.. infinitos meses jajaja

  </p>
</div>
